.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
  .container
    a.navbar-brand(href='../') PhotoAlbum
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav
        - if(!user){
        li.nav-item
          a.nav-link(onclick="login()") Login
        - }
        - else{
        li.nav-item
          a.nav-link(href="/dashboard") Dashboard
        - }
      ul.nav.navbar-nav.ml-auto
        - if(!user){
        
        - }
        - else{
        li.nav-item
          a.nav-link.disabled Hello #{user.nickname}
        li.nav-item
          a.nav-link(href='/logout') Logout
        - }
    
script(type='text/javascript').
  var lock = new Auth0Lock('-Nu7paWTNLNxPwn-kjP2jC9aX-PlUK37', 'photoalbum.auth0.com',{
  auth: {
  redirectUrl: 'https://sleepy-meadow-27118.herokuapp.com/callback'
  , responseType: 'code'
  , params: {
  scope: 'openid name email picture profile'
  }
  },
  allowedConnections: ['Username-Password-Authentication']
  });
  function login() {
  lock.show();
  //alert("Hello World");
  }
